body
{
    color: brown;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    list-style: lower-roman;
}
title
{
    color: aquamarine;
    text-shadow: blueviolet;
    border-end-start-radius: ;
    background-color: chocolate;
}
footer
{
    columns: 1;
    column-rule-color: darkblue;
    text-decoration: darkgreen;
}