title
{
    color: aquamarine;
    text-shadow: blueviolet;
    border-end-start-radius: ;
    background-color: chocolate;
}

body
{
    color: rgb(42, 165, 93);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    list-style: lower-roman;
    h1 color: 26;
    h2 color: 200;

}

footer
{
    columns: 1;
    column-rule-color: darkblue;
    text-decoration: darkgreen;
}
#cabecera
{
    background: brown;
    box-shadow: coral;
    color: darkgoldenrod;
}